.headerContainer{
  height: 5rem;;
}

.headerContent{
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav{
    display: flex;
    align-items: center;
    gap: 14px;

    a{
      color: var(--white);
      text-decoration: none;
      transition: color .8s;

      &:hover{
        color: var(--red-900);
      }
    }

    button{
      border: 0;
      color: var(--red-700);
      background: transparent;
      margin-left: 16px;
      transition: transform 0.5s;
      transition: color .8s;

      &:hover{
        transform: scale(1.2);
        color: var(--red-900);
      }
    }
  }
}

@media (max-width: 420px){
  .headerContent nav{
    gap: 8px;

    button{
      margin-left: 8px;
    }

  }

  .img{
    width: 120px;
    height: 20px;
  }
}

@media (max-width: 350px){
  .headerContent nav{
    gap: 4px;

    button{
      margin-left: 6px;
    }
  }

  .img{
    width: 80px;
    height: 14px;
  }
}